body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: black;
  overflow: hidden;
}

button {
  position: relative;
  width: 200px;
  height: 80px;
  border: none;
  background-color: black;
  font-size: 48px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, black);
  line-height: 48px;
}

button span {
  font-family: "Montserrat";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background: linear-gradient(rgb(71, 71, 71), rgb(29, 29, 29));
  color: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
  z-index: 10;
}

button:hover span {
  color: rgba(255, 255, 255, 0.8);
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    purple,
    blue,
    green,
    yellow,
    red,
    red,
    yellow,
    green,
    blue,
    purple
  );
  background-size: 400%;
  opacity: 0;
  transition: 0.5s;
  animation: button-animation 15s linear alternate infinite;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    purple,
    blue,
    green,
    yellow,
    red,
    red,
    yellow,
    green,
    blue,
    purple
  );
  background-size: 400%;
  opacity: 0;
  filter: blur(28px);
  transition: 0.5s;
  animation: button-animation 15s linear alternate infinite;
}

button:hover::before,
button:hover::after {
  opacity: 1;
}

@keyframes button-animation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 300% 0;
  }
}
